<h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>


<h2>YER SCORE</h2>

<p>your score was <%= @score[:score] %></p>
<p>you took <%= @score[:time] %> seconds to make a guess</p>
<p><%= @score[:message] %></p>

<p><a href="game">RETRY YA DONKEY</a></p>
